@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 22 96% 54%;
    --foreground: 210 40% 98%;
    --card: 22 84% 49%;
    --card-foreground: 210 40% 98%;
    --popover: 22 84% 49%;
    --popover-foreground: 210 40% 98%;
    --primary: 220 90% 95%;
    --primary-foreground: 20 14% 4%;
    --secondary: 22 80% 45%;
    --secondary-foreground: 210 40% 98%;
    --muted: 22 80% 45%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 22 80% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 22 80% 45%;
    --input: 22 80% 45%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.8rem;
    --chart-1: 220 90% 95%;
    --chart-2: 180 100% 25%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 22 96% 54%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 220 90% 95%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 22 80% 45%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 22 80% 45%;
    --sidebar-ring: 212.7 26.8% 83.9%;
  }

  .dark {
    --background: 22 96% 54%;
    --foreground: 210 40% 98%;
    --card: 22 84% 49%;
    --card-foreground: 210 40% 98%;
    --popover: 22 84% 49%;
    --popover-foreground: 210 40% 98%;
    --primary: 220 90% 95%;
    --primary-foreground: 20 14% 4%;
    --secondary: 22 80% 45%;
    --secondary-foreground: 210 40% 98%;
    --muted: 22 80% 45%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 22 80% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 22 80% 45%;
    --input: 22 80% 45%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 90% 95%;
    --chart-2: 180 100% 30%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 22 96% 54%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 220 90% 95%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 22 80% 45%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 22 80% 45%;
    --sidebar-ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
